#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  margin-top: 15px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
}
img {
  width: 200px;
  height: 150px;
  /* border: 1px solid red; */
}
#navbar {
  height: 52px;
  background-color: aqua;
}
input {
  width: 40%;
  height: 35px;
  margin: auto;
  margin-left: 30%;
  margin-top: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
  border: 0px;
}
button {
  background-color: white;
  color: black;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
  border: 0px;
}
button:hover {
  color: black;
  background-color: aqua;
  cursor: pointer;
  border: 1px solid black;
}
.images {
  width: 100%;
  margin-left: 50%;
  /* border: 1px solid red; */
}
